body {
  font-family: 'Frutiger LT Std', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: $caslon;
}

h5 {
  margin: 0.4em 0;
}

a {
  color: #5a2316;
}

img.logo {
  margin: 10px;
  padding: 10px;
  border: 1px solid #dddee1;
}

h1 {
  font-size: 2.75em;
  line-height: 1.3;
  margin-bottom: 0em;
  font-weight: 600;
}

.description {
  margin-top: 2em;
  font-size: 0.8em;
}

.caslon {
  font-family: $caslon; 
}

.item {
  text-align: center;

  h4, h5 {
    color: #5a2316;
    text-transform: uppercase;
  }

  .circular {
    width: 140px;
    max-width: 100%;
    height: 140px;
    margin: 20px auto;
    padding: 20px;
    @include prefixed(border-radius, 100% 100% 100% 100%);
    @include prefixed(box-shadow, 0 0 10px rgba(0, 0, 0, .8));
  }
}

.clear {
  @include clearfix;
}

#customer-updates {
  font-size: 0.9em;
  height: 400px;
  overflow: auto;

  ul {
    text-indent: -0.1em;

    li {
      border-bottom: 1px solid #bbb;
      padding: 0.2em 0;
    }
  }
}

#company-competitors {
  img {
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddee1;
  }

  h2, h3 {
    text-align: center;
    color: #5a2316;
  }
  .competitors {
    h3{
      color: #A35E37;
      font-size: 2em;
      text-align: left;
    }

    em{
      color: #5a2316;
    }

    p{
      padding-top: 25px;
      text-align: justify;
      vertical-align: middle;
    }
  }
}

#company-market {
  .intro {
    h3, h5 {
      text-align: center;
    }

    h3 {
      text-align: center;
      color: $red;
    }

    .row {
      margin-top: 1em;
    }

    canvas {
      float: left;
      margin-right: 20px;
    }

    p {
      font-size: 1em;
      padding-top: emCalc(25px);
      text-align: justify;
      vertical-align: middle;
      margin-top: 0.3em;

      strong {
        color: #5a2316;
        font-size: 1.5em;
        font-family: $caslon;
      }
    }

    ol {
      li {
        p {
          padding: 8px;
          border-left: 1px solid #999;
        }
      }
    }

    .icons {
      text-align: center;

      .row {
        margin-top: 2em;
      }

      i {
        background-color: #293B5D;
        color: #FFF;
        padding: 0.3em 0.5em;
        font-size: 2.5em;
        @include prefixed(border-radius, 100%);
      }
      h5 {
        margin-top: 1.5em;
      }
    }
  }
}

.references {
  padding-top: 10px;
  border-top: 1px solid #ccbeb2;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;

  ul li{
    list-style: none;
    font-size: 0.8em;
    font-style: italic;
  }

  h5{
    color: #5a2316;
    font-size: 0.85em;
  }
}