%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{ href: root_path }
          Joust
    - # Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    %li.toggle-topbar.menu-icon
      %a{ href: "#" }
        %span Menu
  %section.top-bar-section{ "ng-controller" => "LoginCtrl"}
    %ul.right
      %li
        - if user_signed_in?
          %a.button{ href: "#", "ng-click" => "signout()" } Logout
        - else
          %a.button{ href: "#", "ng-click" => "signin()" } Login