.section-container.accordion{ data: { section: "accordion" } }
  %section.section
    %p.title
      %a{ href: "javascript:void(0)" }
        About Joust
    .content
      %ul.side-nav
        %li
          %a{ href: "/companies/#{current_company.slug}" }
            Overview
        %li
          %a{ href: "/companies/#{current_company.slug}/history" }
            History
  %section.section
    %p.title
      %a{ href: "javascript:void(0)" }
        Analytics and Metrics
    .content
      %ul.side-nav
        %li
          %a{ href: "/companies/#{current_company.slug}/analytics" }
            Site Analytics
        %li
          %a{ href: "/companies/#{current_company.slug}/customers" }
            Customer Acquisition