%div{ "ng-app" => "SIBJoust"}
  %div{ "ng-controller" => "LoginCtrl"}
    - if !user_signed_in?
      %a.button{ href: "#", "ng-click" => "signin()" } Login
    - else
      %a.button{ href: "#", "ng-click" => "signout()" } Logout
