%div{ "ng-app" => "SIBJoust"}
  %div{ "ng-controller" => "LoginCtrl"}
    - if !user_signed_in?
      %a.button{ href: "#", "ng-click" => "signin()" } Login
    - else
      %a.button{ href: "#", "ng-click" => "signout()" } Logout
      - if current_user.company
        %a{ href: company_path(current_user.company) } #{current_user.company.name}
