%div{ "ng-app" => "SIBJoust" }
  %div{ "ng-controller" => "AngellistCtrl"}
    %h1 {{company_info.name}}
    %h4 {{company_info.high_concept}}
    %span {{company_info.company_url}}
    %img{ "ng-src" => "{{company_info.thumb_url}}", alt: @company.name}
    %span{ "ng-repeat" => "market in company_info.markets"}
      {{market.display_name}}
    %p
      {{company_info.product_desc}}
  #company-timeline
  %div{ "ng-controller" => "AnalyticsCtrl" }
    %ul
      %li Page View: {{data.pageviews}}
      %li Unique Page Views: {{data.uniquePageviews}}
      %li Ang. Time on Page: {{data.avgTimeOnPage}}
    .row{ style: "margin-bottom: 0.2em; font-size: 0.9em;"}
      .large-offset-8.large-4.columns
        %span Show Analytics for Dates:
    .row
      .large-offset-8.large-2.columns
        %input{ "ng-model" => "start_date", "ui-date" => "", placeholder: "Start Date" }
      .large-2.columns
        %input{ "ng-model" => "end_date", "ui-date" => "", placeholder: "End Date" }
    %canvas#analytics-chart{ width: "800", height: "400", style: "width: 100%;" }