%div{ "ng-app" => "SIBJoust" }
  %div{ "ng-controller" => "AngellistCtrl"}
    %h1 {{company_info.name}}
    %h4 {{company_info.high_concept}}
    %span {{company_info.company_url}}
    %img{ "ng-src" => "{{company_info.thumb_url}}", alt: @company.name}
    %span{ "ng-repeat" => "market in company_info.markets"}
      {{market.display_name}}
    %p
      {{company_info.product_desc}}
  #company-timeline
  %div{ "ng-controller" => "AnalyticsCtrl" }
    %ul
      %li Page View: {{data.pageviews}}
      %li Unique Page Views: {{data.uniquePageviews}}
      %li Ang. Time on Page: {{data.avgTimeOnPage}}
    %canvas#analytics-chart{ width: "800", height: "400" }